APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""
OPENAI_GENERATION_MODEL="gpt-3.5-turbo"
OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"

COHERE_API_KEY=your-cohere-key
COHERE_GENERATION_MODEL=command
COHERE_EMBEDDING_MODEL=embed-english-v3.0

FILE_ALLOWED_TYPES=["txt/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

MONGODB_URL="mongodb://localhost:27007"
MONGODB_DATABASE=mini-rag



# Vector Database Configuration
# Qdrant
QDRANT_API_KEY=""
QDRANT_HOST="b5b24236-7b64-4ad3-b999-2b8b01180e9c.us-east4-0.gcp.cloud.qdrant.io"
QDRANT_PORT=6333
# QDRANT_DATABASE=mini-rag
QDRANT_VECTOR_SIZE=1536
QDRANT_DISTANCE=Dot