APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY="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"
OPENAI_GENERATION_MODEL="gpt-3.5-turbo"
OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"

COHERE_API_KEY=your-cohere-key
COHERE_GENERATION_MODEL=command
COHERE_EMBEDDING_MODEL=embed-english-v3.0

FILE_ALLOWED_TYPES=["txt/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

MONGODB_URL="mongodb://localhost:27007"
MONGODB_DATABASE=mini-rag



# Vector Database Configuration
# Qdrant
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.bd-VyHpTGcc7_XyZ9kUJ0p8XQW2T-Zp_cZTRtLvaYKw"
QDRANT_HOST="b5b24236-7b64-4ad3-b999-2b8b01180e9c.us-east4-0.gcp.cloud.qdrant.io"
QDRANT_PORT=6333
# QDRANT_DATABASE=mini-rag
QDRANT_VECTOR_SIZE=1536
QDRANT_DISTANCE=Dot